@model th_task.Models.theatre

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>theatre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.th_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.th_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.th_loc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.th_loc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.th_name }) |
    @Html.ActionLink("Back to List", "Index")
</p>
