@model IEnumerable<th_task.Models.theatre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.th_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.th_loc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.th_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.th_loc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.th_name }) |
            @Html.ActionLink("Details", "Details", new { id=item.th_name }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.th_name })
        </td>
    </tr>
}

</table>
