@model _31_task.theatre

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>theatre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Th_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Th_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Th_loc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Th_loc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movie.Mv_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movie.Mv_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Th_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
